aiofiles
aiohttp
aiosqlite
async-generator
async-timeout
asyncio-extras
attrs
certifi
cffi
chardet
charset-normalizer
ffmpeg
greenlet
html2text
idna
Markdown
msgpack
multidict
nextcord
pycparser
PyNaCl
pynvim
requests
six
typing-extensions
update-checker
urllib3
websocket-client
yarl
youtube-dl